<div align="center">
  <h3>Send me a message!</h3>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class="hidden">
      <%= f.hidden_field :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message' %>
    </div>
  <% end %>
</div>
