<h3 class="lato center"><%= @project.name %></h3>
<p class="center">Technologies used: <%= @project.technologies_used %>

<p>
  <%= image_tag @project.image_url(:full).to_s %>
</p>

<%= link_to "Destroy", @project, method: :delete, data: {confirm: "Click to confirm deletion"} %>
<%= link_to 'Edit', edit_project_path(@project) %>
