<% @posts.each do |post| %>
  <div class="post">
    <div><%= post.title %></div>
    <div><%= post.body.split('.').first %></div>
    <div><%= link_to 'Show', post %></div>
    <% if policy(post).update? %>
      <div><%= link_to 'Edit', edit_post_path(post) %></div>
    <% end %>
    <% if policy(post).destroy? %>
      <div><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
  </div>
<% end %>
