<p class="post-title">
  <%= @post.title %>
</p>

<p>
  <%= markdown(@post.body) %>
</p>

<% @post_attachments.each do |p| %>
  <%= image_tag p.image_url %>
  <%= link_to "Edit Attachment", edit_post_attachment_path(p) %>
<% end %>

<% if policy(@post).update? %>
  <%= link_to "Destroy", @post, method: :delete, data: {confirm: "Click to confirm deletion"} %>
<% end %>

<% if policy(@post).update? %>
  <div><%= link_to 'Edit', edit_post_path(@post) %></div>
<% end %>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <% if comment.approved? %>
      <% comment.content %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>

<%= render "comments/form" %>
