<p class="post-title">
  <%= @post.title %>
</p>

<p>
  <%= markdown(@post.body) %>
</p>

<% if policy(@post).update? %>
  <%= link_to "Destroy", @post, method: :delete, data: {confirm: "Click to confirm deletion"} %>
<% end %>

<% if policy(@post).update? %>
  <div><%= link_to 'Edit', edit_post_path(@post) %></div>
<% end %>

<div id="disqus_thread"></div>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


<%= link_to 'Back', posts_path %>
