<div id="underline">
  <div id="topbar">
    <ul>
      <li><%= link_to "About", welcome_index_path %></li>
      <li><%= link_to "Blog", posts_path %></li>
      <li><%= link_to "Portfolio", projects_path %></li>
      <li><%= link_to "Contact", new_message_path %></li>
    </ul>
  </div>
</div>
<div id="namebar">
  <%= image_tag('portfolio-banner.jpg') %>
</div>
<div id="thinline">
  <div id="topbar">
    <ul>
      <li><a href="http://www.github.com/trosborn">Github</a></li>
      <li><a href="http://www.twitter.com/joosushi">Twitter</a></li>
      <li><a href="http://www.linkedin.com/trosborn">Linkedin</a></li>
    </ul>
  </div>
</div>
