<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "UW Portfolio" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
      <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
          </ul>

          <section class="top-bar-section">
            <ul class="right">
              <li><%= link_to "Home", welcome_index_path, class: "button" %></li>
              <li><%= link_to "Contact", new_contact_path, class: "button" %></li>
              <li><%= link_to "Blog", posts_path, class: "button" %></li>
              <li><%= link_to "Portfolio", projects_path, class: "button" %></li>
            <% if current_user.present? %>
              <li><%= link_to "Sign out", destroy_user_session_path, class: "button" %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path, class: "button" %></li>
            <% end %>
            </ul>
          </section>
        </nav>
      </div>
    </div>
    <% flash.each do |key, value| %>
      <div class="row">
        <div class="large-8 columns">
          <div data-alert class="alert-box round <%= flash_class(key) %>">
            <%= value %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="parallax-background">
      <p></p>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
