<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Portfolio" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="row">
        <div class="large-8 columns">
          <div data-alert class="alert-box round <%= flash_class(key) %>">
            <%= value %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="parallax-background"></div>
    <div id="session">
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, class: "button" %>
        <% else %>
        <%= link_to "Register", new_user_registration_path, class: "button" %>
        <% end %>
    </div>
    <div class="row">
      <div class="large-12 columns">
          <%= tabs %>
        <div class="parallax-content">
          <%= yield %>
          <%= render "layouts/footer" %>
        </div>
      </div>
    </div>
  </body>
</html>
