<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "UW Portfolio" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  <body>

    <div class="parallax-background"></div>


    <div class="large-12 columns no-pad-right no-pad-left">
      <%= render "layouts/header" %>
      <div class="parallax-content">
        <%= render "layouts/messages" %>
        <%= yield %>
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
